stages:
  - conflict
  - idle

variables:
  GIT_TERMINAL_PROMPT: "0"

generate_and_push_conflict:
  stage: conflict
  only:
    - development
  tags:
    - runner
  resource_group: conflict-lock
  script:
    - node conflict-job.js

sleep_for_5_minutes:
  stage: idle
  only:
    - master
  tags:
    - runner
  script:
    - echo "Doing nothing for 5 minutes..."
    - Start-Sleep -Seconds 300
